#searchBtn{
    width:50px;
}
#xs-4{
    width:300px;
}
#moBody{
    width:600px;
    height:200px;
}
#moContent{
    width:500px;
    margin-top: 300px;

}
#mar{
    margin-left: 350px;
    margin-top: 40px;
}
#deLog{
    width:300px;
     margin-left:131px;
     margin-top: 60px;
    font-size:20px;
 }